html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
}

.form-signin {
  max-width: 350px;
  margin: auto;
  padding: 30px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 30px 20px 0px rgb(169, 169, 169);
}

.logo {
  width: 80%;
}

.inputs{
  border-radius: 15px !important;
}

.forgot_pass{
  color: blue;
  cursor:pointer
}

.error_message{
  color: red;
}