.main-menu {
    background-color: white;
    border-radius: 15px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 10px 0 10px 15px !important;
    width: 170px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
 }

.main-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.main-menu li {
    width: 100%;
    text-align: center;
    /* margin: 1px 0; */
}

.main-menu li a:hover {
    color: rgba(13, 110, 253, 255);
}

.main-menu li a {
    display: block;
    color: rgb(0, 0, 0);
    font-size: 22px;
    text-decoration: none !important;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.nav-text {
    font-family: 'Akatab', sans-serif;
    font-size: 17px;
}

.hr_sidebar {
    background-color: white;
    width: 50%;
    position: absolute;
    margin-top: 100px !important;

}

.imagen-logo {
    width: 100%;
    height: 75px;
}
