
body {
  background-color: #f4f4f4 !important;
}
.tables_border{
  border-radius: 15px;
  background-color: white;
  padding: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 32px;
}

.header-info {
  display: flex;
  align-items: center;
}

.header-info > div {
  margin-left: 20px;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.buscador{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.stat-item {
  background-color: #fff;
  padding: 20px;
  width: 150px;
  text-align: center;
  border-radius: 15px;
  color: #000;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Akatab', sans-serif;
  font: bold !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.start-quiz {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Akatab', sans-serif;
  font: bold !important;
}

.explore {
  margin-bottom: 40px;
}

.filters {
  display: flex;
  margin-bottom: 20px;
}

.filters button {
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course-list {
  display: flex;
}

.course-card {
  background-color: #fff;
  padding: 20px;
  margin-right: 20px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.course-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.reviews {
  margin-bottom: 40px;
}

.review {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quiz-reminder {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quiz-reminder h3 {
  margin-bottom: 20px;
}

.quiz-reminder button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.data{
  padding: 20px;
  margin-left: 180px;
}
.centrar{
  margin: auto;
  text-align: center;
} 

.color_rojo_inputs {
  border-color: red !important;
  border-width: 3px;
}
.repetido{
  color: red;
  font-size: 16px;
}
.inputs_vacios {
  animation: shake-horizontal 0.4s linear both;
}

@keyframes shake-horizontal {

  0%,
  100% {
    transform: translateX(0)
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px)
  }

  20%,
  40%,
  60% {
    transform: translateX(10px)
  }

  80% {
    transform: translateX(8px)
  }

  90% {
    transform: translateX(-8px)
  }
}

/* modals */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* Estilo básico del botón */
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-target {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
}

/* El texto del tooltip, inicialmente oculto */
.tooltip-text-blue {
  visibility: hidden;
  width: 150px;
  background-color: rgba(13,110,253,255);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Posicionamos el tooltip por encima del botón */
  left: 50%;
  margin-left: -75px; 
  opacity: 0;
  transition: opacity 0.3s; /* Transición suave */
  word-break: break-all;
}
.tooltip-container:hover .tooltip-text-blue {
  visibility: visible;
  opacity: 1;
}
.tooltip-text-red {
  visibility: hidden;
  width: 150px;
  background-color: rgba(220,53,69,255);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Posicionamos el tooltip por encima del botón */
  left: 50%;
  margin-left: -75px; /* Para centrar el tooltip */
  opacity: 0;
  transition: opacity 0.3s; /* Transición suave */
  word-break: break-all;

}
.tooltip-container:hover .tooltip-text-red {
  visibility: visible;
  opacity: 1;
}
.tooltip-text-yellow {
  visibility: hidden;
  width: 150px;
  background-color: rgba(255,193,7,255);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  word-break: break-all;
  bottom: 125%; /* Posicionamos el tooltip por encima del botón */
  left: 50%;
  margin-left: -75px; /* Para centrar el tooltip */
  opacity: 0;
  transition: opacity 0.3s; /* Transición suave */
}
.tooltip-container:hover .tooltip-text-yellow {
  visibility: visible;
  opacity: 1;
}
.tooltip-text-lightblue {
  visibility: hidden;
  width: 150px;
  background-color: rgba(13,202,240,255);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Posicionamos el tooltip por encima del botón */
  left: 50%;
  word-break: break-all;
  margin-left: -75px; /* Para centrar el tooltip */
  opacity: 0;
  transition: opacity 0.3s; /* Transición suave */
}
.tooltip-container:hover .tooltip-text-lightblue {
  visibility: visible;
  opacity: 1;
}
